---
const publications = [
  {
    authors: "E. J. Almazán, J. Tovar, A. de la Calle",
    title: "Survival loss: A Neuron Death Regularizer",
    journal: "Advances in Physicsl Agents II. WAF 2020. Advances in Intelligent Systemes and Computing, vol 1285, Nov 2020"
  },
  {
    authors: "A. de la Calle, A. Aller, J. Tovar and E. J. Almazán",
    title: "Geometric interpretation of a CNN's last layer",
    journal: "The IEEE Conference on Computer Vision and Pattern Recognition (CVPR) Workshops, June 2019"
  },
  {
    authors: "P. Mulholland, A. Wardlow, A. de la Calle and D. Dundas",
    title: "Probing the role of excited states in ionization of acetylene",
    journal: "Phys. Chem. Chem. Phys., 19, 19619-19630, 2017"
  },
  {
    authors: "A. de la Calle, A. Palacios, F. Martín and D. Dundas",
    title: "Control of ionization and dissociation of H₂⁺ by elliptically polarized ultra-short VUV laser pulses",
    journal: "Journal of Physics: Conference Series Vol. 635. 11. 2015, p. 112037, 2017",
    htmlTitle: "Control of ionization and dissociation of H<sub>2</sub><sup>+</sup> by elliptically polarized ultra-short VUV laser pulses"
  },
  {
    authors: "A. de la Calle, D. Dundas and K.T. Taylor",
    title: "Time-dependent electron interference prior to ionization in the hydrogen atom and hydrogen molecular ion",
    journal: "Journal of Physics: Conference Series Vol. 488. 3. p. 032039, 2014"
  }
];
---
<section class="py-8">
    <h2 class="text-2xl font-bold text-gray-900 mb-4">Publications</h2>
    <div class="bg-white shadow overflow-hidden sm:rounded-lg p-6">
        <ul class="space-y-4">
            {publications.map((pub) => (
                <li class="text-gray-600">
                    <span class="font-medium text-gray-900">{pub.authors}</span>. 
                    <span class="font-bold" set:html={pub.htmlTitle || pub.title}></span>. 
                    <span class="italic">{pub.journal}</span>.
                </li>
            ))}
        </ul>
    </div>
</section>
