---
interface Props {
  title: string;
  abstract: string;
  downloadLink: string;
}

const { title, abstract, downloadLink } = Astro.props;
---

<div class="card bg-base-100 shadow-xl border">
  <div class="card-body">
    <h2 class="card-title text-2xl">{title}</h2>
    <div class="badge badge-secondary">PhD Thesis</div>
    <p class="py-4 text-justify">{abstract}</p>
    <div class="card-actions justify-end">
      <a href={downloadLink} class="btn btn-primary" download>Download PDF</a>
    </div>
  </div>
</div>
